/* COLORS
SCSS HEX
$buff: #d8a48fff;
$cambridge-blue: #92c9b1ff;
$prussian-blue: #13293dff;
$glaucous: #7389aeff;
$cordovan: #764248ff;
*/

/* Global styles
-----------------------------*/

/* Box Model Fix */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #13293dff;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
pre {
    white-space: pre-line;
    margin: 0;
}

img {
    width: 300px;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

h1 {
    font-size: 4rem;
    line-height: 1.25;
}

h2 {
    font-size: 2rem;
    line-height: 2;
}

h1, h2 {
    margin: 0;
    font-weight: 600;
    font-family: 'Tektur', cursive;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
    margin: 0.5rem;
}

h3, h4, h5 {
    font-weight: 600;
    line-height: 1;
}



/* Profile
-----------------------------*/
header {
    background: #764248ff;
    color: #d8a48fff;
}


/* Projects
-----------------------------*/
.projects {
    background: #d8a48fff;
}

.projects a {
    color: #d8a48fff;
    background: #764248ff;
}

.projects p, .projects h2, .projects h3 {
    color: #764248ff;
}

.projects .btn {
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(118, 66, 72, .8);
}

.project-item {
    overflow: hidden;
    border-bottom: 2px dashed #764248ff;
    padding: 25px 0;
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item .title {
    margin-top: 0;
}


/* Work Experience
-----------------------------*/
.work-experience {
    background: #92c9b1ff;
}


/* Education
-----------------------------*/


/* Contact info
-----------------------------*/
footer {
    background: #7389aeff;
}

footer a {
    color: #7389aeff;
    background: #13293dff;
}