/* COLORS
SCSS HEX
$buff: #d8a48fff;
$cambridge-blue: #92c9b1ff;
$prussian-blue: #13293dff;
$glaucous: #7389aeff;
$cordovan: #764248ff;
*/

/* Global styles
-----------------------------*/

/* Box Model Fix */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #13293dff;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h1 {
    font-size: 4rem;
    line-height: 1.25;
}

h2 {
    font-size: 2rem;
    line-height: 2;
}

h1, h2 {
    margin: 0;
    font-weight: 600;
    font-family: 'Tektur', cursive;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

/* REMOVE PADDING FROM SUBHEADERS AND AROUND LISTS - work experience & education */
h3 ~ h4, h3 ~ ul {
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

h3, h4, h5 {
    font-weight: 600;
}

.divider > section {
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}



/* Profile
-----------------------------*/
header {
    background: #764248ff;
    color: #d8a48fff;
}

/* Projects
-----------------------------*/
.projects {
    background: #d8a48fff;
}

.projects a {
    color: #d8a48fff;
    background: #764248ff;
}

.projects p, .projects h2, .projects h3 {
    color: #764248ff;
}

.projects .btn {
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(118, 66, 72, .8);
}

.project-item {
    overflow: hidden;
    border-bottom-color: #764248ff;
}

.project-item .title {
    margin-top: 0;
}


/* Work Experience
-----------------------------*/
.work-experience {
    background: #92c9b1ff;
}

.job-item {
    border-bottom-color: #13293dff;
}

.job-details > p {
    margin: 0;
}


/* Education
-----------------------------*/
.education {
    background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

.education section {
    width: 70%
}

/* Contact info
-----------------------------*/
footer {
    background: #7389aeff;
}

footer a {
    color: #13293dff;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* Responsive
-----------------------------*/

@media screen and (min-width:810px){
    header, footer {
        text-align: center;
    }
    
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 20px;
    }

    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:809px){
    h1 {
        font-size: 3rem;
        line-height: 1.25;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 1.2;
    }

    .contact-list a {
        padding: 5px;
    }
}